.timeline-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 32px;
}

.timeline-header {
    margin: 24px 0;
    color: var(--text);
    align-self: center;
}

.timeline-bar {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;    
    margin: 16px 0;
}

.timeline-bar::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: var(--text);
    transition: background-color 0.3s ease;
}

.timeline-segment {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    z-index: 2;
}

.timeline-milestone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 1;
    gap: 12px;
    color: var(--text-light);
    padding: clamp(8px, 1.5vw, 16px) clamp(12px, 1.5vw, 24px);
    background: linear-gradient(45deg, var(--primary), var(--secondary) 100%);
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.timeline-milestone h2 {
    font-size: clamp(1rem, 4vw, 3.052rem);
    line-height: 1.1;
    margin: 0;
    white-space: nowrap; /* prevents forced new lines */
}

.timeline-milestone h6 {
    font-size: clamp(0.6rem, 1.5vw, 1.25rem);
    line-height: 1.1;
    margin: 0;
    white-space: nowrap; /* prevents forced new lines */
}

.timeline-milestone:nth-child(4n+1) { /* Hits the Sem 1 and Sem 2 boxes */
    color: var(--primary);
    background: var(--text-light);
}

.timeline-milestone:hover {
    filter: brightness(70%);
}

.timeline-milestone.active {
    color: var(--text-light);
    background: var(--accent);
    transform: translateY(25px);
}

.timeline-milestone.active:hover {
    filter: none;
}

.timeline-milestone h6 {
    line-height: 110%;
}

.timeline-date.active {
    transform: translateY(25px);
}

.timeline-date {
    font-size: clamp(0.75rem, 1.5vw, 1rem);
    transition: all 0.3s ease;
}

.timeline-milestone-number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}
