.milestone-container {
    width: 100%;
    min-height: 100%;
    background: white;
    margin-top: 30px;
    border-radius: 5px;
}

.milestone-container h2 {
    padding-top: 30px;
}

.milestone-content {
    display: flex;
    padding: 20px;
    height: 100%;
}

.milestone-left {
    width: 65%;
    
}

.milestone-right {
    width: 35%;
}
